{% extends "base" %}

{% block body %}
    <h1>game create</h1>
    <form method="post">
        <label>Number of players:</label>
        <input type="number" name="max_players_count">
        <br/>
        <input type="submit" value="Create game">
    </form>
{% endblock body %}
