body {
    margin: 0;
}

#info p {
    margin-top: 0;
}

#table, #info {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#table {
    width: 75%;
    background-color: rgb(128, 192, 128);
}

#info {
    left: 75%;
    width: 25%;
}

#game, #events {
    width: 100%;
}

#game {
    background-color: rgb(192, 192, 192);
    height: 300px;
}

#events {
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 300px;
    bottom: 0px;
}
