{% extends "base" %}

{% block body %}
    <h1>Hello {{ username }}</h1>

    <p>index

    <ul>
        <li><a href="/user">Change username</a></li>
        <li><a href="/game/">See existing games</a></li>
        <li><a href="/game/create">Start a game</a></li>
    </ul>
    </p>

    <hr/>

    <ul>
        {% for g in games %}
            <li><a href="/game/play/{{ g.uuid }}">{{ g.uuid }}</a></li>
        {% endfor %}
    </ul>

{% endblock body %}
