{% extends "base" %}

{% block body %}
    <h1>Update username</h1>
    <form method="post">
        <label for="usename">Username:</label>
        <input type="text" name="username" value="{{ username }}">
        <br/>
        <input type="submit" value="Update username">
    </form>
{% endblock body %}
